html,
body {
  height: 100%;
}

body {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -5.5rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

#sidebar-wrapper .list-group {
  width: 5rem;
}

#sidebar-wrapper .action {
  height: 50px;
  width: 50px;
  background-color: #003263;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

#sidebar-wrapper .action1 {
  height: 35px;
  width: 35px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

#sidebar-wrapper .action .action-icon {
  color: #fff;
  font-size: 26px;
}

#page-content-wrapper {
  min-width: 100vw;
  background-color: #f4f7fe;
}

#page-content-wrapper .navbar {
  background-color: #fff;
}

.profile-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -5.5rem;
  }
}

/* Create Exam CSS */

.form-create-exam {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

.form-create-exam .form-ctrl {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px 0px;
  font-size: 16px;
}

.form-group {
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}

.form-create-exam .form-ctrl:focus {
  z-index: 2;
}

.form-create-exam input[type="text"] {
  border-radius: 13px;
  border-color: #f5f5f5;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px;
}

.form-create-exam input[type="date"] {
  border-radius: 13px;
  border-color: #f5f5f5;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px;
}

.form-create-exam input[type="time"] {
  border-radius: 13px;
  border-color: #f5f5f5;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px;
}

.form-create-exam input::placeholder {
  color: #95989a;
  font-size: 14.5px;
}

.heading-first {
  color: gray;
  margin-left: 5px;
  font-size: medium;
  font-weight: 600;
}

.heading-last {
  color: #003264;
  margin-left: 5px;
  font-size: medium;
  font-weight: 600;
}

.form-create-exam .button-submit {
  border-radius: 13px;
  width: 100%;
  height: 40px;
  background-color: #003263;
  border-color: #003263;
  font-size: 16px;
  max-width: 530px;
  margin-top: 10px;
  color: white;
  padding: 5px;
}

/* Create Room CSS */

.form-create-room {
  width: 100%;
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
}

.form-create-room .form-ctrl {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px 0px;
  font-size: 16px;
}

.form-group {
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}

.form-create-room .form-ctrl:focus {
  z-index: 2;
}
.form-create-room input[type="text"] {
  border-radius: 13px;
  border-color: #f5f5f5;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px;
}

.form-create-room input::placeholder {
  color: #95989a;
  font-size: 14.5px;
}

.heading-first {
  color: gray;
  margin-left: 5px;
  font-size: medium;
  font-weight: 600;
}

.heading-last {
  color: #003264;
  margin-left: 5px;
  font-size: medium;
  font-weight: 600;
}

.form-create-room .button-submit {
  border-radius: 13px;
  width: 100%;
  height: 40px;
  background-color: #003263;
  border-color: #003263;
  font-size: 16px;
  max-width: 530px;
  margin-top: 10px;
  color: white;
  padding: 5px;
}

/* Create Schedule CSS */

.form-create-schedule {
  width: 100%;
  max-width: 530px;
  padding: 15px;
  margin: 0 auto;
}

.form-create-schedule .form-ctrl {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px 0px;
  font-size: 16px;
}

.form-group {
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}

.form-create-schedule .form-ctrl:focus {
  z-index: 2;
}

.form-create-schedule input[type="text"] {
  border-radius: 13px;
  border-color: #f5f5f5;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px;
}

.form-create-schedule input[type="date"] {
  border-radius: 13px;
  border-color: #f5f5f5;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px;
}

.form-create-schedule input::placeholder {
  color: #95989a;
  font-size: 14.5px;
}

.heading-first {
  color: gray;
  margin-left: 5px;
  font-size: medium;
  font-weight: 600;
}

.heading-last {
  color: #003264;
  margin-left: 5px;
  font-size: medium;
  font-weight: 600;
}

.form-create-schedule .button-submit {
  border-radius: 13px;
  width: 100%;
  height: 40px;
  background-color: #003263;
  border-color: #003263;
  font-size: 16px;
  max-width: 530px;
  margin-top: 10px;
  color: white;
  padding: 5px;
}

/* Master Schedule */

.master-schedule {
  width: 100%;
  padding: 15px;
  max-width: 700px;
  margin: 0 auto;
}

.master-schedule .box {
  box-sizing: border-box;
  background-color: white;
}

.master-schedule .heading {
  color: #003264;
  font-size: medium;
  text-align: center;
  font-weight: 600;
}

.master-schedule .form-ctrl:focus {
  z-index: 2;
}

.master-schedule input[type="text"] {
  border-radius: 13px;
  border-color: #f5f5f5;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px;
}

.master-schedule input[type="date"] {
  border-radius: 13px;
  border-color: #f5f5f5;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px;
}

.master-schedule input[type="time"] {
  border-radius: 13px;
  border-color: #f5f5f5;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px;
}

.master-schedule input::placeholder {
  color: #95989a;
  font-size: 14.5px;
}

.master-schedule p {
  cursor: pointer;
}

.master-schedule p:hover {
  cursor: pointer;
  color: #003263;
  background-color: lightgray;
  border-radius: 6px;
}

.master-schedule p {
  cursor: pointer;
}

.heading-first {
  color: gray;
  margin-left: 5px;
  font-size: medium;
  font-weight: 600;
}

.heading-last {
  color: #003264;
  margin-left: 5px;
  font-size: medium;
  font-weight: 600;
}

.master-right {
  color: #003264;
}

.master-content {
  text-align: center;
}

.master-icon {
  text-align: center;
  vertical-align: bottom;
  margin-top: 170px;
}

.master-schedule .button-submit {
  border-radius: 13px;
  width: 100%;
  height: 40px;
  background-color: #003263;
  border-color: #003263;
  font-size: 16px;
  max-width: 530px;
  margin-top: 10px;
  color: white;
  padding: 5px;
}
